#corpus-map-container {
  position: relative;
  width: 100%;
  height: 75vh; /* Altura del 75% de la ventana para mejor visualización */
}
#corpus-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: .25rem; /* Bordes redondeados a juego con Bootstrap */
}
#map-legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  font-size: 13px;
  padding: 10px;
  line-height: 1.6;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
#map-legend strong {
  display: block;
  margin-bottom: 5px;
}
#map-legend ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
}
#map-legend ul:last-child {
  margin-bottom: 0;
}
#map-legend i {
  width: 1.2em;
  text-align: center;
}