<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "es" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    <meta name="description" content="Proyecto de acceso libre a textos clásicos en griego o latín y español, con notas críticas y herramientas de estudio.">
    <meta name="keywords" content="Corpus Abierto, Tucídides, Historia de la Guerra del Peloponeso, griego, traducción, notas críticas, textos clásicos, literatura, historia antigua, historiografía">
    <link rel="icon" type="image/png" href="{{ "favicon-96x96.png" | absURL }}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | absURL }}">
    <link rel="shortcut icon" href="{{ "favicon.ico" | absURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/icons/apple-touch-icon.png" | absURL }}"> {{/* Corregido para apuntar a la carpeta icons */}}
    <link rel="manifest" href="{{ "site.webmanifest" | absURL }}">
</head>
<body>
    
    {{ partial "header.html" . }}

    <main>

        {{ block "main" . }}{{ end }}
        {{/* Aquí se renderizará el contenido de las páginas */}}
    </main>

    {{ partial "footer.html" . }}

    <div id="modal-container" class="modal-container">
        <div class="modal-content">
            <button id="modal-close-btn" class="modal-close-btn" title="Cerrar">&times;</button>
            <h2 id="modal-title"></h2>
            <div id="modal-body"></div>
        </div>
    </div>
    <script src="{{ "/scripts/main.js" | relURL }}"></script>
{{- /* Bloque para cargar scripts específicos de la página si es necesario */ -}}
{{ block "scripts" . }}
  {{ with .Params.scripts }}
    {{ range . }}
      <script src="{{ . | relURL }}"></script>
    {{ end }}
  {{ end }}
{{ end }}

</body>
</html>