<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
      <a class="navbar-brand" href="{{ "/" | absURL }}">
        <img src="{{ "logo.svg" | absURL }}" alt="Corpus Abierto Logo" height="60" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item"><a class="nav-link" href="#top" title="Inicio"><i class="bi bi-arrow-up-circle fs-4"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="#descargas" title="Descargas"><i class="bi bi-download fs-4"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{{ "mapas/" | absURL }}" title="Mapas"><i class="bi bi-map fs-4"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://github.com/eduardo-aleman/corpusabierto" target="_blank" title="Repositorio en GitHub"><i class="bi bi-github fs-4"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mb-4">
    <div class="row">
      <div class="col-md-8">
        <div class="alert alert-info text-center" role="alert">
          Proyecto de acceso libre a textos clásicos en griego o latín y español, con notas críticas y herramientas de estudio. <br /><br /> Sitio en construcción.
        </div>
      </div>
      <div class="col-md-4 mb-2 mb-md-0">
        <h6 class="mb-2">Otros textos disponibles</h6>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Anales de Tácito</a>
        </div>
      </div>
    </div>
  </div>
</header>